<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>

    <title>Board</title>
</head>

<body>
<div>
    <h1>게시판</h1>
    <table class="table table-horizontal table-bordered" th:if="${posts.size() > 0}">
        <thead>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${posts}">
            <td th:text="${post.id}"></td>
            <td>
                <a href="detail.html" th:href="@{'/api/v1/boards/' + ${post.id}}" th:text="${post.title}"></a>
            </td>
            <td th:text="${post.writer}"></td>
            <td th:text="${post.modifiedDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>