<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>

    <title>Post Form</title>
</head>
<body>
<div class="container">
    <form role="form" action="/posts/new" th:object="${postForm}" method="POST">
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="title">작성자</label>
            <input type="text" th:field="*{writer}" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="title">내용</label>
             <input type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요">
        </div>
    </form>
</div>
</body>
